<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="apple-touch-icon" sizes="72x72" href="/assets/images/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon-16x16.png">
  <link rel="manifest" href="/assets/site.webmanifest">
  <link rel="mask-icon" href="/assets/images/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#b91d47">
  <meta name="theme-color" content="#ffffff">
  <title>
    <%= htmlWebpackPlugin.options.title %>
  </title>
</head>

<body class="bg-light">

  <div id="page-1" class="container">
    <div class="py-4 text-center">
      <img class="d-block mx-auto mb-3" src="/assets/images/ap-72px.png" alt="" width="72" height="72">
      <h2>Welcome to GW2AP</h2>
      <h4>Quick and easy filtering and sorting of your Guild Wars 2 achievements</h4>
      <p class="lead">To get started, please
        <a href="https://account.arena.net/applications/create" target="_blank">create a new API key</a> with
        progression permission, paste it below and click Process My Achievements.</p>
    </div>
    <div class="col-md-12 order-md-1">
      <form>
        <div class="mb-3">
          <label for="api-key">API Key</label>
          <input type="text" class="form-control" id="api-key" placeholder="XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXXXXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX">
        </div>
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="remember-api-key">
          <label class="custom-control-label" for="remember-api-key">Remember my API key</span>
          </label>
        </div>
        <hr class="mb-4">
        <button class="btn btn-primary btn-lg btn-block" type="submit">Process My Achievements</button>
      </form>
    </div>
  </div>

  <div id="page-2" class="container" style="display:none">
    <div class="py-3 text-center">
      <img class="d-block mx-auto" src="assets/images/ap-72px.png" alt="" width="72" height="72">
    </div>
    <div class="col-md-12 order-md-1">
      <div class="form-row">
        <div id="filter-progress" class="col-md-4 btn-group mb-3" role="group" aria-label="Progress">
          <button id="btn-filter-in-progress" type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false"
            autocomplete="off">In Progress</button>
          <button id="btn-filter-not-started" type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false"
            autocomplete="off">Not Started</button>
          <button id="btn-filter-complete" type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false"
            autocomplete="off">Completed</button>
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-4 mb-3">
          <label for="select-category">Filter by Group</label>
          <select id="select-group" class="form-control custom-select">
            <option value="">All</option>
          </select>
        </div>
        <div class="col-md-4 mb-3">
          <label for="select-category">Filter by Category</label>
          <select id="select-category" class="form-control custom-select">
            <option value="">All</option>
          </select>
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-4">  
          <div class="form-check form-check-inline">
            <label>Include Reward</label>
          </div>
          <div class="form-check form-check-inline mb-2">
            <input class="form-check-input" type="checkbox" id="btn-filter-title" value="option1">
            <label class="form-check-label" for="btn-filter-title">Title</label>
          </div>
          <div class="form-check form-check-inline mb-2">
            <input class="form-check-input" type="checkbox" id="btn-filter-mastery" value="option2">
            <label class="form-check-label" for="btn-filter-mastery">Mastery</label>
          </div>
          <div class="form-check form-check-inline mb-2">
            <input class="form-check-input" type="checkbox" id="btn-filter-item" value="option3">
            <label class="form-check-label" for="btn-filter-item">Item</label>
          </div>
        </div>
      </div>
      <hr class="mb-4">
      <table id="achievements" class="table table-striped display nowrap bg-white" style="width:100%">
        <thead>
          <tr>
            <th>Tier Progress</th>
            <th>Name</th>
            <th>AP Next Tier</th>
            <th>Total Progress</th>
            <th>Remaining AP</th>
            <th>Category</th>
          </tr>
        </thead>
      </table>
    </div>
  </div>

  <footer class="my-3 pt-5 text-muted text-center text-small">
    <p class="mb-1">
      <script>document.write(new Date().getFullYear())</script> reks-scripts
    </p>
  </footer>
  </div>
</body>

</html>