@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/bootstrap-select/sass/bootstrap-select.scss';

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.dataTables_filter,
.dataTables_info {
  float: left;
}

.dataTables_length,
.dataTables_paginate {
  float: right;
}

.dropdown-toggle::after {
  display: none!important;
}

.pagination {
  margin: .425em 0 2px!important;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
}

.w-300 {
  min-width: 300px;
}