@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/bootstrap-select/sass/bootstrap-select.scss';

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.table th, .table td {
    vertical-align: middle;
}

.dataTables_filter,
.dataTables_info {
  float: left;
}

.dataTables_length,
.dataTables_paginate {
  float: right;
}

.dropdown-toggle::after {
  display: none!important;
}

.pagination {
  margin: .425em 0 2px!important;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
}

.w-300 {
  min-width: 300px;
}

.ap {
  background-image: url('../images/ap.png');
  display: inline-block;
  top: 3px;
  position: relative;
  margin-left: 5px;
  height: 16px;
  width: 16px;
}

td.done {
  color: #00c700;
  font-weight: 700;
}

td.notdone {
  color: #d3d3d3;
  font-weight: 700;
}

img.notdone {
  filter: grayscale(100%);
  opacity: .5;
}

.flavor {
  font-size: .75rem;
  font-style: italic;
}

.skin {
  display: inline-block;
}

.details {
  white-space: normal;
}

.details section {
  float: right;
  margin-left: 10px;
  text-align: right;
}

.details section p {
  font-size: .75rem;
  margin-bottom: 2px;
}

.details section a {
  display: inline-block;
  height: 32px;
}

.details section img {
  margin-right: 10px;
}

tr td.details-control::before {
    top: 9px;
    left: 4px;
    height: 14px;
    width: 14px;
    display: block;
    color: white;
    border: 2px solid white;
    border-radius: 14px;
    box-shadow: 0 0 3px #444;
    box-sizing: content-box;
    text-align: center;
    text-indent: 0 !important;
    font-family: 'Courier New', Courier, monospace;
    line-height: 14px;
    content: '+';
    background-color: #31b131;
}

tr.shown td.details-control::before {
    background-color: #d33333;
    content: '-';
}